digital_land_frontend @ git+https://github.com/digital-land/digital-land-frontend.git#egg=digital_land_frontend
govuk-frontend-jinja>=4.0.0,<5
Flask
Flask-WTF
gunicorn
python-dotenv
Flask-SQLAlchemy
Flask-Migrate
Flask-Caching
psycopg2-binary
requests
Authlib
is-safe-url
flask-talisman
digital_land @ git+https://github.com/digital-land/pipeline.git#egg=digital-land
sentry-sdk[flask]
PyJWT[crypto]
flask-sslify
pandas
